:root {
  box-sizing: border-box;
  font-size: 1em;
  font-family: sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: snow;
}

header {
  text-align: center;
}

main {
  width: 50%;
  margin: 0 auto;
}

form {
  border: 2px solid black;
  padding: 1.25em 1.75em;
  background-color: white;
  border-radius: 0.5rem;
}

form>*+* {
  margin: 0.75em 0;
}

form>label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid lightblue;
}

input::placeholder,
select::placeholder {
  padding-left: 0.25rem;
}

div {
  display: flex;
  flex-direction: column;
}

div>p,
label>span {
  font-size: large;
}

textarea {
  border-radius: 0.5rem;
}

button[type="submit"] {
  border: none;
  border-radius: 36px;
  background: #086788;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  padding: .5rem 2rem;
  width: 100%;
}